<header class="slide-in-top">
  <thead>
    <th routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </th>
    @if (isLogedIn) {
    <th routerLink="users/list">
      <span>User List</span>
    </th>
    @if (isAdmin) {
    <th routerLink="users/add-user">
      <span>Add User</span>
    </th>
    } } @if (!isLogedIn) {
    <th routerLink="login">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </th>
    } @else {
    <th (click)="openLogoutDialog()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </th>
    }
  </thead>
</header>
