header {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  thead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 30rem;
    height: 3rem;
    padding: 0 1rem;

    th {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      font-weight: 500;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        filter: brightness(0) invert(1);
      }

      &:hover {
        color: #007bff;
        transform: scale(1.1);
      }
    }
  }
}

