<div class="user-list scale-in-ver-top">
  <mat-accordion>
    @for (user of list; track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> # {{ user.id }} </mat-panel-title>
        <mat-panel-description>
          <mat-icon>person</mat-icon>
          <span>{{ user.username }}</span>
        </mat-panel-description>
        <mat-panel-description>
          <mat-icon>assignment_ind</mat-icon>
          Role: {{ user.role === 0 ? "User" : "Admin" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="expanded-content">
        <p><strong>First Name:</strong> {{ user.firstName }}</p>
        <p><strong>Last Name:</strong> {{ user.lastName }}</p>
        <p><strong>Mobile:</strong> {{ user.mobile }}</p>
        <p><strong>National Code:</strong> {{ user.nationalCode }}</p>
        <p><strong>Password:</strong> {{ user.password }}</p>

        @if (isAdmin) {
        <button mat-raised-button (click)="onEdit(user)">Edit</button>
        <button mat-raised-button class="mat-raised" (click)="onDelete(user.id)">
          Delete
        </button>
        }
        
      </div>
    </mat-expansion-panel>
    } @empty {
      <h1>We have no Users yet</h1>
    }
  </mat-accordion>
</div>
